{% extends "layout.html" %}
{% block body %}

<div class="row" id="geo-charts">

</div>
<body>

  <div class="jumbotron">
    <h1 class="display-3">Team Titans: Data Detective</h1>
    <p class="lead">DataDetective aims to integrate all the economic, education, and health related data sets available on data.pa.gov.
      Our project is focused on visualizing multiple data sets at the same time to provide users with a way to explore the data.</p>
	<table class="table">
	  <tbody>
	    <tr>
	      <td><img src="/static/img/bar_chart.gif" class="img-fluid" alt="Responsive image"></td>
	      <td>
	      <ul>
	      	<li>Description-1</li>
	      	<li>Description-2</li>
	      	<li>Description-3</li>
	      </ul>
	      </td>		    
	    </tr>
	    <tr>
	      <td><img src="/static/img/map.gif" class="img-fluid" alt="Responsive image"></td>
	      <td>
	      <ul>
	      	<li>Description-1</li>
	      	<li>Description-2</li>
	      	<li>Description-3</li>
	      </ul>
	      </td>
	    </tr>
	    <tr>
	      <td><img src="/static/img/timeseries_gif.gif" class="img-fluid" alt="Responsive image"></td>
	      <td>
	      <ul>
	      	<li>Description-1</li>
	      	<li>Description-2</li>
	      	<li>Description-3</li>
	      </ul>
	      </td>
	    </tr>		  
	  </tbody>
	</table>      
  </div>

</body>

<script>

</script>

{% endblock %}
