{% extends "layout.html" %}
{% block body %}

<div class="row" id="geo-charts">

</div>
<body>

  <div class="jumbotron">
    <h1 class="display-3">Team Titans: Data Detective</h1>
    <p class="lead">DataDetective aims to integrate all the economic, education, and health related data sets available on data.pa.gov.
      Our project is focused on visualizing multiple data sets at the same time to provide users with a way to explore the data.</p>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6"><img src="/static/img/bar_chart.gif" class="img-fluid" alt="Responsive image"></div>
      <div class="col-6">
        <ul>
          <li>View the data as a bar chart for different datasets.</li>
          <li>The bar charts have double axes for viewing several measures.</li>
          <li>Get recommendations from the recommendation engine to see other similar measures.</li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <ul>
          <li>View geospatial data as a map.</li>
          <li>Compare several different geospatial measures simultaneosly by viewing maps side by side./li>
          <li>Get recommendations to other similar measures using the reccomendation engine.</li>
        </ul>
      </div>
      <div class="col-6"><img src="/static/img/map.gif" class="img-fluid" alt="Responsive image"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6"><img src="/static/img/timeseries_gif.gif" class="img-fluid" alt="Responsive image"></div>
      <div class="col-6">
        <ul>
          <li>View time-series data as time-series graphs.</li>
          <li>Compare several different time-series measures by plotting them on the same graph.</li>
          <li>Filter the chart by using the year and month selector.</li>
        </ul>
      </div>
    </div>
</div>


</body>

<script>

</script>

{% endblock %}
