{% extends "layout.html" %}
{% block body %}

<div class="row" id="geo-charts">

</div>
<body>

  <div class="jumbotron">
    <h1 class="display-3">Team Titans: Data Detective</h1>
    <p class="lead">DataDetective aims to integrate all the economic, education, and health related data sets available on data.pa.gov.
      Our project is focused on visualizing multiple data sets at the same time to provide users with a way to explore the data.</p>
  </div>
            <div class="row row-margin-bottom">
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="/static/img/bar_chart.gif" height="850" width="850">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Example library
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

<script>

</script>

{% endblock %}
