{% extends "layout.html" %}
{% block body %}


<div class="row" id="line-chart">

</div>

<script>
var drawCharts = function(measures, year, month) {
  var seriesCount = measures.length;
  seriesList = []
  yaxis = []

  async.forEachOf(measures,  function(measure, index, callback) {
    let slug = measure.id
    let title = measure.text
    getTimeSeries(slug, year, month, function(series){
      series.yAxis = index
      seriesList.push(series)
      yaxis.push({
        title: {
            text: series.name
        },
        labels: {
            style: {
                color: Highcharts.getOptions().colors[index]
            }
        },
        opposite: Boolean(index%2)
      })
      callback();
    });
  }, function(err) {
    let chart = lineChart("line-chart", null, seriesList)
  })

}
var lineChart = function(id, title, series) {
  console.log("Make lines: ", id, title, series, yaxis)

  var barChart = Highcharts.chart(id, {
      chart: {
          type: 'line'
      },
      title: {
          text: title
      },
      xAxis: {
          type: 'datetime',
          crosshair: true
      },
      yAxis: yaxis,
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: series
  });
}
</script>

{% endblock %}
